<!-- @dsCard group="Navigation" height=166 -->
<div class="mh-pv-single"><section class="mh-pv"><div class="mh-pv__toggle" id="t"></div><div id="d"></div></section></div>
<script>
(function () {
  var h = React.createElement, M = window.MH;
  function Demo() {
    return h(M.Stepper,{steps:["Account","Profile","Plan","Confirm"],current:2});
  }
  M.loadAssets("../../design-system.json");
  ReactDOM.createRoot(document.getElementById("t")).render(h(M.ThemeToggle, { persist: false }));
  ReactDOM.createRoot(document.getElementById("d")).render(h(Demo));
})();
</script>
